@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.animColor {
  --angle: 0deg;

  border: 1vmin solid;
  border-image: conic-gradient(
      from var(--angle),
      blueviolet,
      magenta,
      aquamarine,
      lightblue,
      aquamarine,
      magenta,
      blueviolet
    )
    1;

  animation: 5s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
